<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title><%= title %></title>

    <!-- templates -->
	<script id="layout-template" type="text/html">
		<div id="navbar-region"></div>
		<div id="content-region" style="padding-bottom: 20px;"></div>
        <div class="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true"></div>
	</script>

    <!-- Removing #_=_ from Facebook success redirect -->
    <script type="text/javascript">
        if (window.location.hash == '#_=_'){
            // Check if the browser supports history.replaceState.
            if (history.replaceState) {
                // Keep the exact URL up to the hash.
                var cleanHref = window.location.href.split('#')[0];
                // Replace the URL in the address bar without messing with the back button.
                history.replaceState(null, null, cleanHref);
            } else {
                // Well, you're on an old browser, we can get rid of the _=_ but not the #.
                window.location.hash = '';
            }
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?v=3&libraries=places&language=ru&key=AIzaSyAbAap4nj7PpdvcZnrOdLG6EDZco3VGc1A"></script>
    
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
    <script src="/js/bower_components/requirejs/require.js" data-main="/js/main"></script>
</head>

<body>
   
</body>

</html>
