<td class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <a href="/requests/<%= _id %>"><%= name %></a>
</td>
<td class="hidden-xs col-sm-2 col-md-2 col-lg-2"><%= description %></td>
<td class="hidden-xs col-sm-2 col-md-2 col-lg-2"><%= placeName %></td>
<td class="hidden-xs col-sm-2 col-md-2 col-lg-2"><%= date %></td>
<td class="hidden-xs col-sm-2 col-md-2 col-lg-2"><%= startUtc %></td>
<td class="hidden-xs col-sm-2 col-md-2 col-lg-2"><%= duration %></td>
