<div class="container">

    <h2><%= id %></h2>
    
    <div class="page-path">
        <a class='map-link' style="cursor: pointer;">Карта</a>&nbsp;&nbsp;/&nbsp;&nbsp;Цели&nbsp;&nbsp;/&nbsp;&nbsp;<%= id %>
    </div>
    
    <div class="layout-wrapper">
    </div>
</div>
