.main-pane {
    position: fixed;
    display: flex;
    height: calc(100% - 66px);
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    .map-widget-wrapper .navbar-toggle, #searchBox {
        display: none;
    }
}

.map-widget-wrapper {
    width: 100%;
}