/* Leaflet overrides */
.leaflet-control {
    padding: 5px;
}

.leaflet-control-layers-list {
    padding: 10px;
}

.leaflet-control-layers-group-label {
    margin-top: 10px;
}

.leaflet-control-layers-group-name {
    font-weight: 400 !important;
    margin-left: 0 !important;
    color: #777;
}

.leaflet-control-layers-group-name .header {
    font-size: 18px !important;
    margin-top: 10px;
    margin-bottom: 5px;
}

.sidebar {
    box-shadow: none;
    z-index: 999;
}

/*
@media (min-width: 768px) {
    .sidebar {
        top: 61px;
    }
}

@media (min-width: 350px) {
    .sidebar {
        width: 350px;
    }
}
*/

.sidebar-left .sidebar-tabs {
    background-color: rgba(255,255,255,.90);
}

.sidebar-content {
    background-color: rgba(255,255,255,.90);
}

.sidebar-header {
    color: inherit;
    background-color: inherit;
}

.sidebar-tabs>li.active, .sidebar-tabs>ul>li.active {
    color: #fff;
    background-color: #337ab7;
}

.sidebar-tabs>li>a, .sidebar-tabs>ul>li>a {
    display: inline-block;
}

.map-marker {
    border-radius: 50%;
}

.map-marker div {
    width: 100%;
    height: 100%;
    text-align: center;
    font: 10px "Helvetica Neue", Arial, Helvetica, sans-serif;
    background-color: DeepSkyBlue;
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
}

.map-marker img.svg {
    filter: brightness(0) invert(1);
}

.map-marker-single img {
    width: 100%;
    height: 100%;
}

.map-marker-cluster img {
    width: 70%;
    height: 70%;
    position: absolute;
    left: 5px;
    top: 5px;
}

.map-marker-cluster span {
    position: absolute;
    line-height: 30px;
    width: 15px;
    top: 15px;
    left: 20px;
    color: white;
}
