.video-container {
    position: relative;
    z-index : 1;
}

.video-image {
    max-width: 100%;
    max-height: 100%;
}

.video-image[rotated="true"] {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.video-rotate {
    position: absolute;
    z-index: 1; 
    top: 10px; 
    right: 10px;
    font-size: 18px;
    color: white;
    cursor: pointer;
}
